
.PageTitleBox {
	max-width: 941px;
	height: 68px;
	margin: 50px 0 0 0;
	background: url(images/pg02_title.gif) no-repeat left;
}
@media (min-width: 661px ) and (max-width: 768px){

    .PageTitleBox {
	    max-width: 90%;
	    height: 68px;
	    margin: 45px auto 0 auto;
	    background: url(images/pg02_title.gif) no-repeat;
	    overflow: hidden;
    }
}
@media (min-width: 0 ) and (max-width: 660px){

    .PageTitleBox {
	    width: 300px;
	    height: 105px;
	    margin: 31px auto 40px auto;
	    background: url(images/mobile/pg02_title.gif) no-repeat left;
    }
}



.ShowCase  {
	width: 100%;
	padding: 10px 0 0 0;	
}
.ShowCase li {
	width: 425px;
	display: inline-block;
	margin: 0 30px 10px 30px;
	line-height: 40px;
}
.ShowCase li.S02 {
	margin: 0 0 10px 15px;
}
.ShowCase img  {
	width: 425px;
	text-align: center;
}

@media (min-width: 500px ) and (max-width: 1280px){

	.ShowCase  {
		width: 100%;
		text-align: center;
		padding: 10px 0 0 0;	
	}
	.ShowCase li {
		width: 468px;
		display: inline-block;
		margin: 0 20px 40px 20px;
		line-height: 40px;	
	}
	.ShowCase li.S02 {
		margin: 0 20px 40px 20px;
	}

	.ShowCase img  {
		width: 468px;
		text-align: center;
	}

}


@media (min-width: 0 ) and (max-width: 499px){

	.ShowCase  {
		width: 100%;
		text-align: center;
		padding: 0;
	}
	.ShowCase li {
		width: 100%;
		display: inline-block;
		margin: 0 0 40px 0;
		line-height: 40px;	
	}
	.ShowCase li.S02 {
		margin: 0 0 40px 0;
	}

	.ShowCase img  {
		width: 100%;
		text-align: center;
	}

}